.login-box {
    width: 448px;
    height: 410px;
    background-color: #1f2937; /* dark background */
    border-radius: 8px;
    padding: 32px;
    color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

  }
  
  .login-box h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
  }
  
  .login-box .subtext {
    text-align: center;
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 24px;
  }
  
  .login-box label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  
  .login-box input[type="email"],
  .login-box input[type="password"] {
    background-color: #374151;
    border: none;
    padding: 10px 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    width: 100%;
  }
  
  .login-box input::placeholder {
    color: #9ca3af;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 14px;
  }
  
  .form-footer a {
    color: #a855f7;
    text-decoration: none;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  
  .login-box button {
    background-color: #a855f7;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .login-box button:hover {
    background-color: #9333ea;
  }
  
  .signup-text {
    text-align: center;
    font-size: 14px;
    color: #d1d5db;
  }
  
  .signup-text a {
    color: #a855f7;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  